<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Lets PLay Rock Paper Scissors</title>

  <link rel="stylesheet" href="/style.css">

</head>

<body>
  <nav>
    <ul>
      <li><a href="/welcome">Welcome</a></li>
    </ul>
  </nav>

  <%= yield %>

</body>

</html>
